@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Josefin+Slab:wght@200&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

#logo_link{
    padding-top: 5px;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Croissant One', Helvetica,  sans-serif;
    padding: 35px;
}


#hero-img{
    width: 100%;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
    margin-top: 50px;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #28afb0;
    color: white;
    margin-bottom: 100px;
}

body {
    background-color: #f4d35e; 
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;

}

header {
    background-color:#19647e;
}
nav a:hover {
    background-color: #28afb0;
    color: white;
}

.book, .join{
    margin-top: 50px;
    color: white;
    text-decoration: none;
    background-color: #19647e;
    font-size: 18px;
    padding: 15px 30px;
   
    border-radius: 5px;
}


.book :hover{
    color: #19647e;
}



section a:hover{
    background-color: #28afb0;
}

.msg{
    background-color: #ee964b;
    color: antiquewhite;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}

footer{
    background-color: #19647e;
    color: white;
    margin-top: 200px;
    padding: 25px 35px;
}

footer p {
    font-size: 1.2em;
    
}

footer p a :hover{
    text-decoration: underline;
}

footer a {
    color: #f4d35e;
    text-decoration: none;
}

footer a:hover{
    color: #28afb0;
}

footer .social img{
    padding-top: 15px;
}

.home-title{
    color: #19647e;
    font-family: 'Croissant One', 'Josefin Slab', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.home-grid{
    font-family: 'Josefin Slab',  Helvetica, sans-serif;
}

h4{
    color: #28afb0;
}

.msg h2{
    color: rgb(255, 255, 255);
    font-family: 'Croissant One', 'Josefin Slab', sans-serif;
}

.msg p{
    color: rgb(255, 255, 255);
    font-size: .8em;
    padding-bottom: 15px;
}

.msg a{
    margin-top: 50px;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 10px solid #ee964b;
}

